<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.com.javalec.sangho.productMapper">
	<!-- <select id="getTime" resultType="string"> select now() </select> -->

	<insert id="insert">
		insert into
		product_db(p_category,
		p_name,
		p_price,
		p_count,
		p_img,
		p_img2,
		p_content)
		values(#{p_category},#{p_name},#{p_price},#{p_count},#{p_img},#{p_img2},#{p_content})
	</insert>

	<update id="update">
		update product_db set
		p_category=#{p_category},
		p_name=#{p_name},
		p_price=#{p_price},
		p_count=#{p_count},
		p_img=#{p_img},
		p_img2=#{p_img2},
		p_content=#{p_content}
		where
		seq=#{seq}
	</update>

	<delete id="delete">
		delete from product_db where seq = #{seq}
	</delete>

	<!-- 페이징 처리 -->

	<select id="select" resultType="com.javalec.sangho.vo.ProductVO">
	<![CDATA[	select *from product_db where p_category = #{p_category} and seq > 0 order by seq desc limit #{vo.pageStart}, #{vo.perPageNum}]]>
	</select>

	<select id="countPage" resultType="int">
		select count(seq) from
		product_db where p_category = #{p_category} and seq > 0
	</select>

	<select id="content"
		resultType="com.javalec.sangho.vo.ProductVO">
		select *from product_db where seq = #{seq}
	</select>

	<!-- 조회수 -->
	<update id="hitup">
		update product_db set p_hit = p_hit + 1 where seq =
		#{seq}
	</update>
	<!-- 장바구니 -->
	<select id="selectCart"
		resultType="com.javalec.sangho.vo.CartListVO">
		select c.seq, p.seq as p_seq, p.p_name, p.p_img, p.p_price,
		c.cdate,
		c.count
		from
		cart_db as c,
		product_db as p
		where c.u_seq = 1 and
		c.p_seq=p.seq;
	</select>

	<insert id="insertCart">
		insert into cart_db(p_seq,u_seq,count)
		values(#{p_seq},#{u_seq},#{count})
	</insert>

	<update id="updateCart">
		update cart_db set
		count=#{count} where seq = #{seq}
	</update>

	<delete id="deleteCart">
		delete from cart_db where seq = #{seq}
	</delete>

	<!-- 주문 -->
	<insert id="addorder">
		insert into
		order_db(u_seq,price,name,phone,addrcode,addr,addr2,message,payment,orderNum)
		values(#{u_seq},#{price},#{name},#{phone},#{addrcode},#{addr},#{addr2},#{message},#{payment},#{orderNum})
	</insert>

	<insert id="detail_order">
		insert into
		orderp_db(u_seq,p_seq,orderNum,order_count)
		values(#{u_seq},#{p_seq},#{orderNum},#{order_count})
	</insert>

	<!-- 뉴, 힛 아이템 -->
	<select id="hititem"
		resultType="com.javalec.sangho.vo.ProductVO">
		select *from product_db order by p_hit desc limit 0,4;
		</select>
	<select id="newitem"
		resultType="com.javalec.sangho.vo.ProductVO">
		select *from product_db order by seq desc limit 0,4;
		</select>
</mapper>
