<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.com.javalec.sangho.ReplyMapper">
	<select id="list" resultType="com.javalec.sangho.vo.ReplyVO">
		select *from reply_db where bno =
		#{bno} order by seq desc
	</select>

	<insert id="insert">
		insert into reply_db (bno,replytext,replyer)
		values(#{bno},#{replytext},#{replyer})
	</insert>

	<update id="update">
		update reply_db set replytext=#{replytext},
		updatedate=now() where seq = #{seq}
	</update>

	<delete id="delete">
		delete from reply_db where seq = #{seq}
	</delete>

	<select id="listPage" resultType="com.javalec.sangho.vo.ReplyVO">
		select *from reply_db where bno
		= #{bno} order by seq desc limit #{vo.pageStart}, #{vo.perPageNum}
	</select>

	<select id="count" resultType="int">
		select count(seq) from reply_db where bno = #{bno}
	</select>
</mapper>
